.carousel-block {
  padding: 10em;
  background-color: #aea8a8;
  width: 100%;
}
.carousel-block1 {
  padding: 10em;
  background-color: #4b4747;
  width: 100%;
}
.carousel-block2 {
  padding: 10em;
  background-color: #7c7777;
  width: 100%;
}
